{% extends "finance/list_base.html" %}

{% block header %}Ahorros{% endblock %}

{% block table_header %}
<th>Fecha</th>
<th>Descripción</th>
<th>Categoría</th>
<th>Tipo</th>
<th>Monto</th>
<th>Meta</th>
<th></th>
{% endblock %}

{% block table_row %}
<td>{{ item.date }}</td>
<td>{{ item.description }}</td>
<td>{{ item.category.name }}</td>
<td><span class="badge badge-outline">{{ item.get_saving_type_display }}</span></td>
<td>${{ item.amount }}</td>
<td>{{ item.goal_name|default:"-" }}</td>
{% endblock %}
