{% extends "finance/list_base.html" %}

{% block header %}Gastos Variables{% endblock %}

{% block table_header %}
<th>Fecha</th>
<th>Descripción</th>
<th>Categoría</th>
<th>Tipo</th>
<th>Monto</th>
<th>Método</th>
<th></th>
{% endblock %}

{% block table_row %}
<td>{{ item.date }}</td>
<td>{{ item.description }}</td>
<td>{{ item.category.name }}</td>
<td><span class="badge badge-outline">{{ item.get_expense_type_display }}</span></td>
<td>${{ item.amount }}</td>
<td>{{ item.payment_method.name }}</td>
{% endblock %}
